# Sample production app
SAMPLE_PROD_DEV_BASEURL=http://localhost:1234
SAMPLE_PROD_STAGING_BASEURL=https://my-sample-prod-staging.azurepages.com
SAMPLE_PROD_PRODUCTION_BASEURL=https://my-sample-prod.azurepages.com
SAMPLE_PROD_DEV_TOKEN=dev-abcd
SAMPLE_PROD_STAGING_TOKEN=staging-abcd
SAMPLE_PROD_PRODUCTION_TOKEN=prod-abcd

# Coinmarketcap
CMC_API_KEY=
