SAMPLE_PROD_DEV_BASEURL=http://localhost:1234
SAMPLE_PROD_STAGING_BASEURL=https://my-sample-prod-staging.azurepages.com
SAMPLE_PROD_PRODUCTION_BASEURL=https://my-sample-prod.azurepages.com
SAMPLE_PROD_DEV_TOKEN=dev-abcd
SAMPLE_PROD_STAGING_TOKEN=staging-abcd
SAMPLE_PROD_PRODUCTION_TOKEN=prod-abcd
CMC_API_KEY=
PURESTAKE_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
EXCHANGE_RATE_API_KEY=
OPENAI_API_KEY=
OPENAI_ORG_ID=